@model Offre.Models.Job

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<h2>Les details de L'offre</h2>

<div>

    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Category.CategoryName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Category.CategoryName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.JobTitle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.JobTitle)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.JobContent)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.JobContent)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.JobImage)
        </dt>

        <dd>
            <img src="~/Uploads/@Html.DisplayFor(Model=>Model.JobImage)" style="width:200px;height:200px"/>
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Postuler", "ApplyJob", new { id = Model.Id }, new { style = "background-color:green; text-decoration:none; padding:4px;color:white;" }) 
    @Html.ActionLink("Reteur", "Index",null, new { style = "background-color:black; text-decoration:none; padding:4px;color:white;" })
</p>
