@model IEnumerable<Offre.Models.Category>
@{
    ViewBag.Title = "Home Page";
}

<style>
    #h1{
        padding:32px;
        background-color:deepskyblue;
        margin:20px 0px 40px 0px;
        display:flex;
        
        justify-content:center;
    }
    1
</style>
<div class="jumbotron">
    <h1 class="col-md-12" id="h1">Bienvenue sur le platform de les offre d'emploi</h1>
</div>


@foreach (var item in Model)
{
    <h3>@Html.DisplayFor(modelItem => item.CategoryName)</h3>
    <p>@Html.DisplayFor(modelItem => item.CatregoryDescription)</p>

    <section>
        <div class="container_job">
            <div class="row">
                @foreach (var subItem in item.Jobs)
                {
                    <div class="col-md-3">
                        <div class="card" style="width: 18rem;">
                            <img src="~/Uploads/@subItem.JobImage" class="card-img-top" alt="Image">
                            <div class="card-body">
                                <h5 class="card-title">@Html.DisplayFor(modelItem => subItem.JobTitle)</h5>
                                <p class="card-text">
                                    @Html.DisplayFor(modelItem => subItem.JobContent)
                                </p>
                                @Html.ActionLink("détails", "Details", new { jobid = subItem.Id }, new { style = "background-color:#2977ff; text-decoration:none; padding:4px 15px 4px 15px;color:white;" })
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </section>

}
