@model Offre.Models.Category
@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Sidebar.cshtml";
}


<h2>Confirmer la suppression de role</h2>

<h3>Êtes-vous sûr de vouloir supprimer ceci ?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CategoryName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CategoryName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CatregoryDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CatregoryDescription)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Supprimer" class="btn btn-danger" /> |

            @Html.ActionLink("retour", "Index")

        </div>
    }
</div>
