@model IEnumerable<Offre.Models.Category>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Sidebar.cshtml";
}
<style>
    body {
        font-family: "Arial", sans-serif;
    }
</style>
<h2>Liste des catégories</h2>

<div class="mb-3">
    @Html.ActionLink("Créer une nouvelle catégorie", "Create", null, new { @class = "btn btn-primary" })
</div>

<div class="table-responsive">
    <table class="table table-bordered table-striped">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Categories</th>
                <th scope="col">Description</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => item.CategoryName)</td>
                    <td>@Html.DisplayFor(modelItem => item.CatregoryDescription)</td>
                    <td>
                        <div class="btn-group" role="group" aria-label="Actions">
                            <a class="btn btn-primary btn-sm" href="@Url.Action("Details", new { id = item.Id })">Détails</a>
                            <a class="btn btn-warning btn-sm" href="@Url.Action("Edit", new { id = item.Id })">Modifier</a>
                            <a class="btn btn-danger btn-sm" href="@Url.Action("Delete", new { id = item.Id })">Supprimer</a>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
